/* AuthPage.css */
/* General styling for the authentication page */
h1 {
  text-align: center;
}

.auth {
  padding: 10px 20px;
  background-color: #1F618D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
}

button:hover {
  background-color: #85C1E9;
}
