/* Main container */

/* Lobby and RoomID headers */
h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Randomize Groups button */
.randomize-groups-button {
  display: block;
  margin: 20px 0px 20px 0px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-groups-button {
  display: block;
  margin: 20px 6% 20px 0px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Members section */
#Members {
  background-color: #999;
  border-radius: 4px;
  margin: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 20px;
}

#Members h3 {
  background-color: #ddd;
  margin: 10px 10px 5px 10px;
  padding: 5px;
  border-radius: 4px;
}

#Members li {
  background-color: #f1f1f1;
  margin: 5px 10px 5px 10px;
  padding: 5px;
  border-radius: 4px;
  list-style: none;
}

.draggable-item:hover {
  cursor: grab; /* Changes cursor to 'grab' when hovering over the item */
}

.dragging-item {
  opacity: 0.25;
}

/* Groups section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(175px, 1fr)
  ); /* Adjust as needed */
  gap: 20px; /* Spacing between grid items */
  padding: 10px;
}

#Groups {
  background-color: #fff; /* Optional: Adds a background color */
  border: 1px solid #ddd; /* Optional: Adds a border */
  border-radius: 4px;
  padding: 10px;
  padding-bottom: 10px;
}

#Groups h3 {
  background-color: #ddd;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

#Groups ul {
  list-style: none;
  padding-left: 0;
}

#Groups li {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

.new-group-area {
  background-color: #fff; /* Matches the background color of existing groups */
  border: 1px solid #ddd; /* Matches the border of existing groups */
  border-radius: 4px;
  padding: 10px;
  text-align: center; /* Center the text inside the new group area */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Set a fixed height, adjust as needed */
}

.body {
  display: grid;
  flex-direction: column;
  grid-template-columns: 2.5fr 1fr;
}

.groups {
  background-color: white;
}

.counter-button {
  border-radius: 4px;
  width: 1.75rem;
  padding: 2px;
  margin: 2px 10px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.counter-buttons {
  grid-area: buttons;
  align-items: left;
}

.group-controls {
  background-color: lightGray;
  border: 5px solid gray;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.counter-title {
  grid-area: title;
  margin: 5px 0px;
}

.counter-value {
  align-items: right;
  grid-area: value;
  width: 1.75rem;
  height: 1.75rem;
  align-items: center;
  font-weight: bold;
  display: flex;
  margin: 2px 0px 2px 20px;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: #fff;
  border-radius: 4px;
}

.size-counter {
  display: grid;
  grid-template-areas:
    "title title"
    "value buttons";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 10px 0px 10px 3%;
}
