.banner-text-container {
  height: 250px;
  position: relative;
  z-index: 1;
  color: white;
}

.welcome-text {
  font-size: 64px;
  line-height: 1.2;
  margin: 0;
  text-align: left;
  padding-left: 10px;
  width: 350px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.form-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 6px solid #6db3f2;
  border-radius: 20px;
  max-width: 400px;
  z-index: 1;
  background-color: white;
}

.error-text {
  color: red;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.join-class-form {
  width: 100%;
}

.separator-text {
  margin: 20px 0;
}
