/* studentView.css */

.classroom-header {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.75rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(145deg, #6db3f2, #1e5799);
  /* display: inline; */
}

.student-view-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.group-box {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  background-color: #cfe8fc; /* Light blue background */
  color: #333; /* Dark gray text color */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; /* Enable absolute positioning for shapes */
}

.group-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #1e5799;
}

.group-member-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.classroom-box {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

h1 {
  color: #232323;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #232323;
}

.group-member-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.member-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.member-item {
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
  margin: 5px 0;
}

.member-item-group {
  padding: 10px;
  margin: 20px 10px; /* Adjust vertical spacing here */
  animation-name: floatAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.member-name {
  font-weight: bold;
}

.member-item:last-child {
  border-bottom: none; /* Remove border for last item */
}

.cloud {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255);
  z-index: -1;
}

.cloud::before {
  width: var(--beforeWidth);
  height: var(--beforeHeight);
  top: calc(var(--beforeHeight) * -1);
  left: calc(65% - (var(--beforeWidth) + var(--afterWidth) + 10px) / 2);
  border-top-left-radius: calc(var(--beforeHeight));
  border-top-right-radius: calc(var(--beforeHeight));
}

.cloud::after {
  width: var(--afterWidth);
  height: var(--afterHeight);
  top: calc(var(--afterHeight) * -1);
  left: calc(
    35% - (var(--beforeWidth) + var(--afterWidth) + 10px) / 2 +
      var(--beforeWidth) + 10px
  );
  border-top-left-radius: calc(var(--afterHeight));
  border-top-right-radius: calc(var(--afterHeight));
}

@media (max-width: 768px) {
  .student-view-container {
    flex-direction: column;
  }
  .group-box,
  .classroom-box {
    width: 100%;
    margin-right: 0;
  }
}

/* Animations */
@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.lobby-state {
  text-align: center;
  margin-bottom: 20px;
}

.lobby-message {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  margin: 0 auto; /* Center the lobby message box */
}

.countdown-timer {
  font-size: 1.5rem;
  color: #e57373;
  margin: 10px 0;
}

.edit-profile-button {
  background: linear-gradient(145deg, #6db3f2, #1e5799);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.edit-profile-button:hover {
  background-color: #154362;
  transform: scale(0.95);
}

.edit-profile-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.instructor-name {
  font-size: 1rem; /* Smaller font size */
  font-weight: normal;
  color: #888; /* Gentle, lighter color */
  display: block;
  margin-top: 5px;
}

.contact-message {
  font-style: italic;
  font-weight: 300;
  color: #555;
  margin-top: 20px;
  text-align: center;
}

/* Contact Group button */
.contact-group-button {
  background: linear-gradient(
    145deg,
    #6db3f2,
    #1e5799
  ); /* Same gradient style */
  color: white;
  border: none;
  border-radius: 0.75rem;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-group-button:hover {
  background-color: #154362;
  transform: scale(0.95);
}

/* Modal Backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Modal Container */
.modal-container {
  position: relative; /* Change from absolute to relative */
  max-width: 50%; /* Ensure the modal is responsive */
  max-height: 50%; /* Prevent modal from overflowing vertically */
  width: 600px; /* Fixed width */
  background-color: #ffffff;
  border-radius: 22px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  padding: 24px;
  box-sizing: border-box;
  overflow-y: auto; /* Allow scrolling if content overflows */
  font-family: 'Roboto', sans-serif;
  margin-top: 30vh;
}

/* Modal Header */
.modal-header {
  font-size: 1.75rem;
  font-weight: bold;
  color: #1e5799;
  margin-bottom: 16px;
}

/* Modal Content */
.modal-content {
  font-size: 1.125rem;
  color: #333;
  margin-bottom: 16px;
}

/* Modal Buttons */
.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-footer .btn {
  background: linear-gradient(145deg, #6db3f2, #1e5799);
  color: white;
  border: none;
  border-radius: 0.75rem;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.modal-footer .btn:hover {
  background-color: #154362;
  transform: scale(0.95);
}

/* Modal Close Button */
.modal-close {
  background: #f44336;
  color: white;
  border: none;
  border-radius: 0.75rem;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.modal-close:hover {
  background-color: #d32f2f;
  transform: scale(0.95);
}

/* Email link */
.email-link {
  color: #1e5799;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
