.photo-banner-container {
  position: relative;
}

.photo-banner img {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 250px; /* Set the forced height */
  object-fit: cover; /* Crop image to fit the container */
  display: block;
  position: absolute;
}

.photo-banner img.hidden {
  opacity: 0;
}

.photo-banner img.visible {
  opacity: 1;
}
